#currentCity {
  height: 300px;
  width: 500px;
  background-repeat: no-repeat;
}

#cards {
  border: solid 1px blue;
  display: flex;
}

#card {
  display: flex;
}

#currentCity {
  background-size: cover;
}
